<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About APSA</h2>
                    <p style="text-align:left;">The American Physician Scientists Association
                        at UC Berkeley is a student organization dedicated to spreading awareness about the
                        MD-PhD path. APSA prepares its members for training and development as physician-scientists
                        through clinical and professional networking, providing resources for academic success,
                        and inspiring students to pursue careers as research physicians through community outreach and education.
                        Past members have gone on to do remarkable research in prestigious labs and get into top tier programs across
                        the world like Stanford, UCSF, and NUS.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">APSA Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">APSA was founded in 2019 by a group of pre-MD/PhD students
                                        who have by now joined MD/PhD programs, are starting residency, and/or work
                                        in labs. They keep in contact with the club to help create outreach
                                        events like field trips to their programs and panel events</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">The Pandemic</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Despite the COVID-19 pandemic, the club hosted successful
                                        virtual conferences and events, and has gotten us to where we are today.
                                        We’ve gone on to form our own connections to MD/PhD programs and students,
                                        and always look to branch out further.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-Present</h4>
                                    <h4 class="subheading">Current Day</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While our events may be small in number due to the niche
                                        aspect of an MD/PhD, our club has grown stronger as a close-knit community.
                                        That is perhaps why our club lives on to this day.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br> Our
                                    <br>Team!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>