<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                   <!-- <p style="text-align: left">
                        We do variety of events:
                        <ul style="text-align: left">
                            <li>Journal Clubs</li>
                            <li>Field Trips to Bay Area MSTP Programs (UCST, Stanford)</li>
                            <li>Panels with MD/PhD Candidates & PIs from top tier programs</li>
                            <li>Application & Resume Workshops</li>
                            <li>Socials</li>
                            <li>Certification Events (ie. CPR)</li>
                            <li>Volunteering Events</li>
                        </ul>
                    </p> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">APSA Resource Portal </h4>
                    <p class="text-muted">Check out our notion page to get more insights into the MD/PhD Program.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Want to partner with us?</h4>
                    <p class="text-muted"> If you are an MD/PhD program, graduate, or student and want to partner with us, we’d love to get in touch. We like to host panel events to learn more about what you have to offer and/or what your experience was like.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Join APSA</h4>
                    <p class="text-muted">Fill out <a href="https://forms.gle/W3mcR4deQwn35LyR7">this general member form</a> to join the Slack, subscribe to our newsletter, and access our google calendar link.</p>
                </div>
            </div>
        </div>
    </section>